# .NET build output
bin/
obj/
publish/

# IDEs
.vscode/
.idea/
.vs/

# User-specific files
*.user
*.suo

# OS files
.DS_Store
Thumbs.db

# Local test files
*.bak
*.backup

# Release build
release/

# Third-party release dependencies
third-party/